@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-background: #fbf9f4;
  --color-foreground: #2D334A;
  --color-border: #e2dfd8;
  --color-primary: #2D334A;
  --font-sans: var(--font-jakarta), sans-serif;
  --font-serif: var(--font-playfair), serif;
}

:root {
  color-scheme: light;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, .serif-brand {
  font-family: var(--font-serif);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2dfd8;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d1cfc7;
}
